@import 'variables.scss';

.selected-note {
    align-items: stretch;
    bottom: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    left: $left-width;
    position: absolute;
    right: 0;
    top: 0;

    .modify-note {
        background-color: $background-color-medium;
        flex: 1;
        display: flex;
        flex-flow: column;
        overflow: auto;
        padding: 20px 2%;

        input, textarea {
            background: rgba(255, 255, 255, 0.8);
            border: none;
            font-family: $font-family;
            font-size: $font-size;
            margin: 10px 0;
            padding: 5px;
            width: calc(100% - 10px);

            &:focus {
                background: #fff;
            }
        }

        .edit-note {
            flex: 1;

            textarea {
                height: calc(100% - 3.5em);
            }
        }
    }

    .view-note {
        background: $background-color-light;
        display: flex;
        flex: 1;
        overflow: auto;

        .markdown-body {
            padding: 15px;
        }
    }
}