$font-family: 'Fira Code', 'Monaco', sans-serif;
$font-size: 14px;
$text-color: #fff;

$background-color-dark: #1e1e1e;
$background-color-medium: #252526;
$background-color-light: #eeeeee;

$button-background-color: #6a7385;
$button-text-color: #fff;

$left-width: 15%;

$toggle-background: $button-background-color;