@import "../../node_modules/nord/src/sass/nord.scss";

$font-family: 'Fira Code', 'Monaco', sans-serif;
$font-size: 14px;
$text-color: $nord6;

$background-color-dark: $nord0;
$background-color-medium: $nord1;
$background-color-light: $nord6;

$button-background-color: $nord10;
$button-text-color: $text-color;

$left-width: 15%;

$selected-note-highlight: $nord4;
$toggle-background: $nord9;
$toggle-background-selected: $nord10;